<div class="content-cards-jobs">
	<p class="id-destaque"> <span>#ID JOB</span> </p>
	<h3>NOME</h3>
	<p> <span class="span-destaque">Empresa:</span> EMPRESA </p>
	<p> <span class="span-destaque"><a href="LINK EMPRESA" target="_blank">Link da empresa</a></span></p>
	<p> <span class="span-destaque">Anunciante:</span> EMPRESA ANUNCIANTE</p>
	<p> <span class="span-destaque"><a href="LINK EMPRESA ANUNCIANTE" target="_blank">Link do anúncio</a></span></p>
	<p> <span class="span-destaque">DATA EM STRING</span></p>
	<p> <span class="span-destaque">HORA EM STRING</span></p>
</div>
