.container-cards{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
}

.content-cards-jobs {

	padding: 1rem;
	border-radius: 1rem;
	margin: 1rem;
	max-width: 440px;

	line-height: 1.5rem;
}

.shadow-ativo {
	box-shadow: 5px 5px 20px #297ae4, -5px -5px 20px #5f5f5f;
}

.shadow-inativo {
	box-shadow: 5px 5px 20px #ef7676, -5px -5px 20px #c0c0c0;
}

/* shadow ativo = azul
	shadow inativo = vermelho
 */

.id-destaque {
	font-weight: bold;
	color: #5f5f5f;
	text-align: left;
}

.span-destaque {
	font-weight: bold;
}

.button-details{
	text-align: center;
}

.header-destaque {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-weight: bold;
	color: #5f5f5f;
}

a {
	text-decoration: underline;
	color: #5c33f0;
}
a:link{
	color: #5c33f0;
}


.show-date-time {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.show-end{
	text-align: end;
	margin-left: 1rem;
}
