<div class="container-cards">
	<div class="content-cards-jobs" *ngFor="let job of jobs">
		<div class="header-destaque">
			<p> <span>#{{job.id_job}}</span> </p>
			<p *ngIf="job.activeStatus; else elseBlock"> ATIVO </p>
			<ng-template #elseBlock>
				<p> INATIVO </p>
			</ng-template>
		</div>
		<h3>{{job.jobName}}</h3>
		<p> <span class="span-destaque">Empresa:</span> {{job.empresa}} </p>
		<p> <span class="span-destaque"><a href="{{job.link}}" target="_blank">Link da empresa</a></span></p>
		<p> <span class="span-destaque">Anunciante:</span> {{job.empAnun}}</p>
		<p> <span class="span-destaque"><a href="{{job.linkAnun}}" target="_blank">Link do anúncio</a></span></p>
		<p> <span class="span-destaque">{{job.data}}</span></p>
		<p> <span class="span-destaque">{{job.hora}}</span></p>
		<div class="button-details">
			<button class="btn-terc" (click)="toDetails(job)">DETALHES</button>
		</div>
	</div>
</div>
