<div class="container-cadastro-page">
	<div class="box-cadastro">
		<div class="header-form" *ngIf="contem">
			<p>#{{idShow}}</p>
			<p *ngIf="activeStatus; else elseBlock">ATIVO</p>
			<ng-template #elseBlock>
				<p>INATIVO</p>
			</ng-template>
		</div>
		<h2>CADASTRO</h2>
		<form [formGroup]="form" autocomplete="off">
			<div class="form-cadastro">
				<div class="item-form">
					<label class="labels-and-p">Nome da vaga:</label>
					<input type="text" formControlName="jobName"/>
				</div>
				<div class="item-form">
					<label class="labels-and-p">Descrição da vaga:</label>
					<textarea class="textarea" formControlName="descricao"></textarea>
				</div>
				<div class="item-form">
					<label class="labels-and-p">Empresa da vaga:</label>
					<input type="text" formControlName="empresa"/>
				</div>
				<div class="item-form">
					<label class="labels-and-p">Link da empresa:</label>
					<input type="url" formControlName="link"/>
				</div>
				<div class="item-form">
					<label class="labels-and-p">Empresa de anúncio da vaga:</label>
					<input type="text" formControlName="empAnun"/>
				</div>
				<div class="item-form">
					<label class="labels-and-p">Link do anúncio da vaga:</label>
					<input type="url" formControlName="linkAnun"/>
				</div>
				<div class="item-form">
					<p class="labels-and-p">Descrição de status da vaga:</p>
					<div class="div-status">

						<div class="div-status" formArrayName="statusDescription" *ngFor="let status of statusDescription.controls; let i = index">
							<input type="text" [formControlName]="i" class="input-status">
						</div>
					</div>
						<button (click)="addStatusDescription()" class="btn-terc">
						Adicionar situação do processo
					</button>
				</div>
				<div class="buttons">
					<button *ngIf="idShow" type="submit" class="btn-secondary" (click)="onDelete()">
						INATIVAR
					</button>
					<button type="submit" class="btn-primary" (click)="onSubmit()">
						Salvar
					</button>
					<button type="submit" class="btn-secondary" (click)="onCancel()">
						Cancelar
					</button>
				</div>
				<div class="show-date-time" *ngIf="idShow">
					<div class="show-start">
						<p>CRIADO EM:</p>
						<p> <span class="span-destaque">{{jobData.data}}</span></p>
						<p> <span class="span-destaque">{{jobData.hora}}</span></p>
					</div>
					<div class="show-end">
						<p>MODIFICADO EM:</p>
						<p> <span class="span-destaque">{{jobData.lastUpdatedDay}}</span></p>
						<p> <span class="span-destaque">{{jobData.lastUpdatedTime}}</span></p>

					</div>
				</div>
			</div>
		</form>
	</div>
</div>
