<div class="container-cadastro-page">
	<div class="box-cadastro">
		<h2>CADASTRO</h2>
		<form id="form-register" autocomplete="off">
			<div class="form-cadastro">
				<div class="item-form">
					<label for="name-job">Nome da vaga:</label>
					<input type="text" name="name-job" id="name-job" />
				</div>
				<div class="item-form">
					<label for="desc-job">Descrição da vaga:</label>
					<textarea type="" name="desc-job" id="desc-job"></textarea>
				</div>
				<div class="item-form">
					<label for="empresa-job">Empresa da vaga:</label>
					<input type="text" name="empresa-job" id="empresa-job" />
				</div>
				<div class="item-form">
					<label for="link-job">Link da empresa:</label>
					<input type="url" name="link-job" id="link-job" />
				</div>
				<div class="item-form">
					<label for="emp-anun-job">Empresa de anúncio da vaga:</label>
					<input type="text" name="emp-anun-job" id="emp-anun-job" />
				</div>
				<div class="item-form">
					<label for="link-anun-job">Link do anúncio da vaga:</label>
					<input type="url" name="link-anun-job" id="link-anun-job" />
				</div>
				<div class="buttons">
					<button type="submit" class="btn-default" id="add-button">
						Adicionar
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
