/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

.btn-primary {
	border: 1px solid #1A73E8;
	background-color: aliceblue;
	color: black;
	padding: .5rem 1rem;
	border-radius: 1rem;
	font-weight: bold;
	cursor: pointer;
	margin: .3rem;
}

.btn-secondary {
	border: 1px solid #e81a5b;
	background-color: rgb(255, 240, 244);
	color: black;
	padding: .5rem 1rem;
	border-radius: 1rem;
	font-weight: bold;
	cursor: pointer;
	margin: .3rem;
}

.btn-terc {
	border: 1px solid #17c772;
	background-color: rgb(242, 255, 240);
	color: black;
	padding: .5rem 1rem;
	border-radius: 1rem;
	font-weight: bold;
	cursor: pointer;
	margin: .3rem;
}
