<div class="content-search-1">

	<div class="search-area-show">
		<div class="item-form-search">
			<label for="select-search">Buscar por:</label>
			<select name="select-search" id="select-search" [(ngModel)]="inputSelectValue">
				<option value="jobName">Nome</option>
				<option value="descricao">Descricao</option>
				<option value="empresa">Empresa</option>
				<option value="empAnun">Empresa anunciante</option>
			</select>
		</div>
		<div class="item-form-search">
			<input [(ngModel)]="inputSearchValue" type="text" name="search-input" id="search-input"
				placeholder="Pesquisar" />
		</div>
	</div>

</div>

<div>
	<app-aplication-card *ngIf="findBySearch(inputSelectValue, inputSearchValue) as jobs;"
		[jobs]="jobs"></app-aplication-card>

</div>

